USE [BD]
GO
/****** Object:  User [alumno]    Script Date: 3/12/2025 09:44:21 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdVendedor] [int] NOT NULL,
	[IdComprador] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[IdEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Etiquetas] PRIMARY KEY CLUSTERED 
(
	[IdEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listas]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listas](
	[IdLista] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NombreLista] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Listas] PRIMARY KEY CLUSTERED 
(
	[IdLista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[IdPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Foto] [nvarchar](100) NOT NULL,
	[Precio] [float] NOT NULL,
	[NombreProducto] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Publicaciones] PRIMARY KEY CLUSTERED 
(
	[IdPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionEtiqueta]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionEtiqueta](
	[IdPublicacionEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[IdEtiqueta] [int] NULL,
 CONSTRAINT [PK_PublicacionEtiqueta] PRIMARY KEY CLUSTERED 
(
	[IdPublicacionEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionLista]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionLista](
	[IdPublicacionLista] [int] IDENTITY(1,1) NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[IdLista] [int] NOT NULL,
 CONSTRAINT [PK_PublicacionLista] PRIMARY KEY CLUSTERED 
(
	[IdPublicacionLista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[NombreCompleto] [nvarchar](50) NOT NULL,
	[Pais] [nvarchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Foto] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosLista]    Script Date: 3/12/2025 09:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosLista](
	[IdUsuariosLista] [int] IDENTITY(1,1) NOT NULL,
	[IdLista] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosLista] PRIMARY KEY CLUSTERED 
(
	[IdUsuariosLista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Etiquetas] ON 

INSERT [dbo].[Etiquetas] ([IdEtiqueta], [Nombre]) VALUES (1, N'texanas')
INSERT [dbo].[Etiquetas] ([IdEtiqueta], [Nombre]) VALUES (2, N'botas')
INSERT [dbo].[Etiquetas] ([IdEtiqueta], [Nombre]) VALUES (3, N'cuero')
SET IDENTITY_INSERT [dbo].[Etiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Listas] ON 

INSERT [dbo].[Listas] ([IdLista], [IdUsuario], [NombreLista]) VALUES (1, 1, N'Favoritos')
INSERT [dbo].[Listas] ([IdLista], [IdUsuario], [NombreLista]) VALUES (2, 2, N'Favoritos')
SET IDENTITY_INSERT [dbo].[Listas] OFF
GO
SET IDENTITY_INSERT [dbo].[Publicaciones] ON 

INSERT [dbo].[Publicaciones] ([IdPublicacion], [IdUsuario], [Descripcion], [Foto], [Precio], [NombreProducto]) VALUES (1, 1, N'Bota de caña alta con un diseño clásico de estilo cowboy. Combina una parte inferior de cuero liso de color marrón oscuro y una caña de terciopelo o tejido con textura suave en tono marrón canela/marrón claro. La caña presenta un bordado tradicional de estilo occidental en el mismo tono del terciopelo. Posee una tira de cuero decorativa en la parte superior y un tacón bajo y ancho.', N'botas.webp', 24000, N'Botas Cowboy de Terciopelo y Cuero')
INSERT [dbo].[Publicaciones] ([IdPublicacion], [IdUsuario], [Descripcion], [Foto], [Precio], [NombreProducto]) VALUES (3, 1, N'El bolso ''Noche Urbana'' combina elegancia y rebeldía. Hecho de piel texturizada negra, presenta asas tejidas y un distintivo bolsillo frontal con cremallera. Su diseño versátil y amplio lo hace ideal para llevar lo esencial con un toque sofisticado y misterioso.', N'cartera.webp', 16000, N'Noche Urbana')
SET IDENTITY_INSERT [dbo].[Publicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[PublicacionEtiqueta] ON 

INSERT [dbo].[PublicacionEtiqueta] ([IdPublicacionEtiqueta], [IdPublicacion], [IdEtiqueta]) VALUES (1, 1, 1)
INSERT [dbo].[PublicacionEtiqueta] ([IdPublicacionEtiqueta], [IdPublicacion], [IdEtiqueta]) VALUES (2, 1, 2)
INSERT [dbo].[PublicacionEtiqueta] ([IdPublicacionEtiqueta], [IdPublicacion], [IdEtiqueta]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PublicacionEtiqueta] OFF
GO
SET IDENTITY_INSERT [dbo].[PublicacionLista] ON 

INSERT [dbo].[PublicacionLista] ([IdPublicacionLista], [IdPublicacion], [IdLista]) VALUES (1, 1, 1)
INSERT [dbo].[PublicacionLista] ([IdPublicacionLista], [IdPublicacion], [IdLista]) VALUES (13, 3, 1)
INSERT [dbo].[PublicacionLista] ([IdPublicacionLista], [IdPublicacion], [IdLista]) VALUES (14, 4, 1)
SET IDENTITY_INSERT [dbo].[PublicacionLista] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [Contrasenia], [NombreUsuario], [NombreCompleto], [Pais], [Telefono], [Foto], [Descripcion]) VALUES (1, N'victoriakriger@gmail.com', N'taylor13', N'vickykriger', N'Victoria Kriger', N'Argentina', 1144926381, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [Contrasenia], [NombreUsuario], [NombreCompleto], [Pais], [Telefono], [Foto], [Descripcion]) VALUES (2, N'ailuseverino@gmail.com', N'soyRePolla', N'ailuseve', N'Ailin Severino', N'Argentina', 1128505500, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosLista] ON 

INSERT [dbo].[UsuariosLista] ([IdUsuariosLista], [IdLista], [IdUsuario]) VALUES (1, 1, 1)
INSERT [dbo].[UsuariosLista] ([IdUsuariosLista], [IdLista], [IdUsuario]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[UsuariosLista] OFF
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuarios] FOREIGN KEY([IdComprador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuarios]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuarios1] FOREIGN KEY([IdVendedor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuarios1]
GO
ALTER TABLE [dbo].[Listas]  WITH CHECK ADD  CONSTRAINT [FK_Listas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Listas] CHECK CONSTRAINT [FK_Listas_Usuarios]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuarios]
GO
ALTER TABLE [dbo].[PublicacionEtiqueta]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionEtiqueta_Etiquetas] FOREIGN KEY([IdEtiqueta])
REFERENCES [dbo].[Etiquetas] ([IdEtiqueta])
GO
ALTER TABLE [dbo].[PublicacionEtiqueta] CHECK CONSTRAINT [FK_PublicacionEtiqueta_Etiquetas]
GO
ALTER TABLE [dbo].[PublicacionEtiqueta]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionEtiqueta_Publicaciones] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicaciones] ([IdPublicacion])
GO
ALTER TABLE [dbo].[PublicacionEtiqueta] CHECK CONSTRAINT [FK_PublicacionEtiqueta_Publicaciones]
GO
ALTER TABLE [dbo].[PublicacionLista]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionLista_Publicaciones] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicaciones] ([IdPublicacion])
GO
ALTER TABLE [dbo].[PublicacionLista] CHECK CONSTRAINT [FK_PublicacionLista_Publicaciones]
GO
ALTER TABLE [dbo].[UsuariosLista]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosLista_Listas] FOREIGN KEY([IdLista])
REFERENCES [dbo].[Listas] ([IdLista])
GO
ALTER TABLE [dbo].[UsuariosLista] CHECK CONSTRAINT [FK_UsuariosLista_Listas]
GO
ALTER TABLE [dbo].[UsuariosLista]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosLista_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosLista] CHECK CONSTRAINT [FK_UsuariosLista_Usuarios]
GO
